ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
.chingu-quiz__wrapper {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
}
.scroll-to-top {
  padding: 2px 4px;
  background: #007bff;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}